

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Explore ailments</h1>
    <hr>
    <div class="ailments spacer">
      <ul class="ailments">
        <% @ailments.all.each do |ailment| %>
        <li>
          <div class="ailment-name">
            <a href="<%= ailment_path(ailment) %>" class="ailment-name"><%= ailment.short_name %></a>
          </div>
        </li>
        <% end %>
      </ul>


    </div>
  </div>
</div>
