<div class="jumbotron hero hero-about">
  <div class="hero-screen">
    <div class="container">
      <div class="home-links-container">
        <!-- <a href="/ailments">Learn</a> -->
        <!-- <a href="/reviews/new">Journal</a> -->
        <!-- <a href="/products">Discover</a> -->
      </div>
    </div>
  </div>
</div>
      <h1 class="page-heading">About</h1>
<div class="default-home-bg">
  <div class="container">
    <div class="row about-container">
      <div class="col-md-12">
        <h2>Thanks for visiting Strain Therapy - I hope you <a href="<%= new_user_registration_path %>">become a member.</a></h2>
        <p>I founded Strain Therapy with my mom in mind.  She is a Baby Boomer and like many other Boomers, her health gets more complicated with age.  I have seen her friends and other family members become addicted to opiates used in treating chronic pain. They lost tons of weight becoming frail and confused. Opiates have a 22% addiction rate and often lead to heroin addiction (when opiates run-out, are stolen, or become too expensive).</p>
        <p>Since addiction has become a major epidemic, doctors are less willing to prescribe opiates - which is great. That leaves those suffering from chronic pain with limited resources, until now.</p>
        <p>Medical cannabis is once again becoming accepted as a great treatment for pain with very limited side-effects. There are no reported cannabis overdose deaths, while 282 people die from prescription medication overdoses each day. Medical cannabis is safe, affordable, treats many other ailments, and can be groomed to treat specific ailments (such as <a href="https://en.wikipedia.org/wiki/Charlotte%27s_web_(cannabis)" target="_blank">Charlotte's Web</a>).</p>
        <p>Strain Therapy is a platform for those looking to learn, journal, and discover medical cannabis.</p>
        <ul>
          <li>Learn how medical cannabis has been used to treat over 60 ailments</li>
          <li>Journal your medical cannabis product reviews for best results</li>
          <li>Discover new products and strains used in treating specific ailments</li>
        </ul>
        <p>I have listened to all the questions regarding medical cannabis.  Most doctors don’t have time to research an entire new medicine while science has been hampered by government regulation. I hope Strain Therapy can provide answers to those seeking information on the benefits of medical cannabis.</p>
        <p>We plan to work with dispensaries, growers, and doctors to improve the medical cannabis industry.  Thanks again for your time and interest - good luck with your journaling!</p>
        <p>Russell Huxhold<br>Founder and CEO</p>
      </div>
    </div>
  </div>
</div>




