<div class="jumbotron hero hero-about">
  <div class="hero-screen">
    <div class="container">
      <div class="home-links-container">
        <!-- <a href="/ailments">Learn</a> -->
        <!-- <a href="/reviews/new">Journal</a> -->
        <!-- <a href="/products">Discover</a> -->
      </div>
    </div>
  </div>
</div>
      <h1 class="page-heading">Copyright 2016 - Strain Therapy - Private Policy</h1>
<div class="default-home-bg">
  <div class="container">
    <div class="row about-container">
      <div class="col-md-12">
        <h2>General</h2>
        <p>The contents of the Strain Therapy Site, such as text, graphics, images, and other material contained on the Strain Therapy Site ("Content") are for informational purposes only. The Content is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on the Strain Therapy Site!</p>
        <p>If you think you may have a medical emergency, call your doctor or 911 immediately. Strain Therapy does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned on the Site. Reliance on any information provided by Strain Therapy, Strain Therapy employees, others appearing on the Site at the invitation of Strain Therapy, or other visitors to the Site is solely at your own risk.</p>
        <p>The Site may contain health- or medical-related materials that are sexually explicit. If you find these materials offensive, you may not want to use our Site. The Site and the Content are provided on an "as is" basis.</p>
        <h2>Privacy</h2>
        <p>All accounts are identified only by profile name as we want to keep all information as general as possible.  No member can be personally identified. No specific data is shared without member consent.</p>
        <h2>Reviews</h2>
        <p>All journal experience entries are monitored to avoid any inaccurate information.  Journal reviews are used to help members find the most effective medical cannabis products.</p>
        <h2>Missing an ailment/dispensary/product?</h2>
        <p>Send us a note at info@straintherapy.com</p>
      </div>
    </div>
  </div>
</div>




