<div class="jumbotron default-home-bg">
  <div class="container">
    <h2>Read + Share hard-to-find scientific medical cannabis articles!</h2>
    <div class="spacer-2"><%= image_tag 'logo.png', class: "splash-image" %></div>

    <h2 class="spacer">Cannabis is very safe but also very complex. ST members find effective strains.</h2>
    <a href="<%= home_path %>" class="btn btn-default btn-lg spacer">Learn more if you are 21 years of age</a>
  </div>
</div>
