<div class="jumbotron default-home-bg">
  <div class="container">
    <h2>Strain Therapy helps medical cannabis patients find effective strains. </h2>
    <div class="spacer-2"><%= image_tag 'logo.png', width: 600 %></div>

    <h2 class="spacer">Cannabis is very safe but also very complex.</h2>
    <a href="<%= home_path %>" class="btn btn-default btn-lg spacer">Learn more if you are at least 18 years of age</a>
  </div>
</div>
