<div class="jumbotron">
  <div class="container">
    <h2>Medical Cannabis Has Been Used For 10,000 Years.</h2>
    <h3>Strain Therapy helps medical cannabis patients find effective strains. </h3>
    <div class="spacer-2"><%= image_tag 'logo.png', width: 600 %></div>

    <h4 class="spacer">Cannabis is very safe but also very complex.</h4>
    <a href="<%= home_path %>" class="btn btn-default btn-lg spacer">Learn more if you are at least 18 years of age</a>
  </div>
</div>
