// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery.turbolinks
//= require jquery_ujs
//= require bootstrap-sprockets
//= require turbolinks
//= require_tree .



 $(function() {
    $('.rating').barrating({
      theme: 'bars-reversed',
      initialRating: null,
      readonly: true
    });

    $('.rating-form').barrating({
      theme: 'bars-reversed',
      initialRating: null
    });


    $('.box-select').hide().after('<div class="box-select-container"></div>');
    $('.preferred-select').hide().after('<div class="preferred-select-container box-select-container"></div>');
    console.log(<%= CONSUMPTION_METHODS %>);
    var boxSelectData = <%= CONSUMPTION_METHODS %>;
    $.each(boxSelectData, function(index, value) {
      $('.box-select-container').append('<a class="option '+ value +'" href="#">' + value + '</a>');
    })

    $('.zodiac-select').hide().after('<div class="zodiac-select-container"></div>');
    var zodiacSelectData = <%= ZODIAC_SIGNS %>
    $.each(zodiacSelectData, function(index, value) {
      $('.zodiac-select-container').append('<a class="option zodiac-sign" href="#">' + value + '</a>');
    });


    $('#review_product_id').change(function(){
      var selectedProduct = $(this).find('option:selected').text();
      var selectedCategory = selectedProduct.split('-')[1].trim();
      changeDisplayForAmountSelection($('#review_amount'), selectedCategory);
      filterAvailableMethods(selectedCategory);
    });

    $('.box-select-container .option').click(function(e){
      e.preventDefault();
      changeMethodOnHiddenForm($('#review_method'), this);
    });

    $('.zodiac-select-container .option').click(function(e){
      e.preventDefault();
      changeMethodOnHiddenForm($('form #sign'), this);
    });

    $('.preferred-select-container .option').click(function(e){
      e.preventDefault();
      changeMethodOnHiddenForm($('#method'), this);
    });
 });

function filterAvailableMethods(selectedCategory) {
  var potentialMethods = {
    "flowers": 'smoke, vape',
    "concentrates": 'vape, tincture',
    "edibles": 'food, beverages, topicals'
  }
  var availableMethods = potentialMethods[selectedCategory];
  $('#review_method').siblings(".box-select-container").find('a').each(function(){
      // alert(selectedCategory + "---" + availableMethods);
    if (potentialMethods[selectedCategory].indexOf(this.textContent) >= 0) {
      $(this).show();
    } else {
      $(this).hide();
    }
  });
}

function changeMethodOnHiddenForm($methodForm, selectedMethod ) {
  $methodForm.val(selectedMethod.textContent);
  $(selectedMethod).parent().children().removeClass('selected');
  $(selectedMethod).addClass('selected');
}

function changeDisplayForAmountSelection($amountForm, selectedCategory) {
  var consumptionData = {
    "flowers": "under 0.5g, 0.5g to 1.0g, over 1.0g",
    "concentrates": "1-2 uses, 3-4 uses, 5 or more uses",
    "edibles": "under 5mg, 5-10mg, over 10mg",
  }
  var vals = consumptionData[selectedCategory].split(',');
  $amountBoxes = $amountForm.siblings('.br-widget').find('a');
  $currentRating = $amountForm.siblings('.br-widget').find('.br-current-rating');
  $currentRating.text(vals[0]);
  $amountBoxes.each(function(i) {
    $(this).attr('data-rating-text', vals[i]);
  });
}

