<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Review for <%= link_to @review.ailment.name, @review.ailment %></h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'long_review', review: @review, context: 'ailment' %>
      </div>
    </div>


    <%= link_to 'Edit', edit_review_path(@review) %> |
    <%= link_to 'Back', :back %>
  </div>
</div>
